<header>
  <nav>
    <ul id="menu">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Posts", posts_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%# omniauth-google-oauth2 1.0.0 uses OmniAuth 2 and requires using HTTP Post to initiate authentication: %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <p style="text-align: right;"><%= l Time.current %></p>
  <% end %>
</header>